<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bustacallfordriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Activity_Login"></activity>
        <activity android:name=".view.Activity_Signin" />
        <activity android:name=".view.Activity_Main"/>
        <activity android:name=".view.Activity_Notice" />
        <activity android:name=".view.Activity_RentalDetail"/>


        <activity android:name=".view.Activity_Sliding_Tender"/>
        <activity android:name=".view.Activity_Sliding_Schedule"/>
        <activity android:name=".view.Activity_Sliding_MyInfo"/>
        <activity android:name=".view.Activity_Sliding_MyPoint"/>
        <activity android:name=".view.Activity_Sliding_Inquiry"/>
        <activity android:name=".view.Activity_Sliding_Setting"/>


        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>